.footer {
    background-color: #00BB2D;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    display: flex; /* Agrega esta línea */
    align-items: center; /* Agrega esta línea */
    
}
